.home {
  background-color: #232f3e;
}

.title {
  border-right: 6px solid #8b2131;
}

.htext {
  font-family: roboto slab, sans-serif;
  font-size: 2rem;
  color: #fec524;
}

@media screen and (max-width: 900px) {
  .pic {
    display: none;
  }
}
