.navBar {
  border-bottom: 6px solid #8b2131;
  font-family: roboto slab, sans-serif;
  height: 5rem;
  background-color: #232f3e;
}

.home {
  color: #fec524;
  font-size: 2rem;
  text-decoration: none;
}

.nav-links {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.active-link {
  font-size: 1.5rem;
  color: #fec524;
  text-decoration: none;
}

.nav-links:hover {
  color: #8b2131;
}

.active-link:hover {
  color: #fec524;
}

@media screen and (max-width: 1250px) {
  .nav-links {
    font-size: 1rem;
  }
  .active-link {
    font-size: 1rem;
  }
  .media {
    flex-direction: column;
    white-space: nowrap;
  }
}
