.navBar {
  border-bottom: 6px solid #8b2131;
  font-family: roboto slab, sans-serif;
  height: 10vh;
  background-color: #232f3e;
}

.home {
  color: #fec524;
  font-size: 5vh;
  text-decoration: none;
}

.nav-links {
  font-size: 2vh;
  color: white;
  text-decoration: none;
}

.active-link {
  font-size: 2vh;
  color: #fec524;
  text-decoration: none;
}

.nav-links:hover {
  color: #8b2131;
}

.active-link:hover {
  color: #fec524;
}
